<?php
/**
 * ${1:$TM_FILENAME}
 *
 * @author ${author} <${email}>
 * @link   ${link}
 */

class ${2:ClassName} ${3:extends ${4:AnotherClass}} ${5:implements ${6:Interface}} {
    $7
    function __construct () {
        $0
    }
}